html {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    line-height: 1.50;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* Utility */

.info {

}

.info p {
    color: #7D8186;
    max-width: 600px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 25px;
}

.icons img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: relative;
    margin-right: -25px;
    padding: 5px;
    box-shadow: 0 2px 5px 0 #757575;
    filter: grayscale(100%);
}

.icons img:hover {
    filter: grayscale(0);
    transform: scale(1.1, 1.1);
    z-index: 10;
}

.bg-gray {
    background-color: #bdbdbd;
}

.display-1 {
    font-size: 4rem;
}

@media (max-width: 768px) {

    .display-1 {
        font-size: 3rem;
    }

}

.site {
    display: none;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

.site__container {
    padding-top: 34px; /* padding for navbar */
    flex: 1;
    position: relative;
}

/* header section */

.navbar {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 #757575;
    z-index: 10;
}

.navbar__wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 5px 10px;
}

.navbar__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.navbar__items li {
    position: relative;
    margin: 0 10px;
}

.navbar__items li:hover {
    background-color: #bdbdbd;
}

.items__item--active {
    background-color: #bdbdbd;
}

.navbar__toggle {
    display: none;
    align-self: flex-end;
    cursor: pointer;
    line-height: inherit;
    transition: .8s;
}

.navbar__toggle--active {
    transform: rotate(360deg);
}

@media (max-width: 768px) {

    .navbar__wrapper {
        flex-direction: column;
    }

    .navbar__items {
        max-height: 0;
        flex-direction: column;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }

    .navbar__items li {
        position: relative;
        margin: 2px 0;
    }

    .navbar__toggle {
        display: block;
    }

    .navbar__items--active {
        max-height: 600px;
    }

}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content__header {
    align-self: center;
}

.content__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* footer section */

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #607D8B;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

@media (max-width: 768px) {

    .footer {
        flex-direction: column;
    }

}

.footer__copyright {

}

.footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.footer__links li {
    margin-left: 5px;
    margin-right: 5px;
}